body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background: url("stars.jpg") no-repeat center center fixed; /*linear-gradient(rgba(155, 89, 182, 0.6), rgba(248, 240, 252, 0.8))*/
  background-size: cover;
  color: #9b59b6;
}


header {
    background-color: #f8f0fc;
    padding: 10px;
    border-bottom: 2px solid #9b59b6;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: darksalmon; 
    color: #9b59b6;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h3{
    font-size: 1.8em;
    color: #9b59b6;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #9b59b6;
}

form {
  background-color: rgba(214, 169, 232, 0.9);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 15px #9b59b6, 0 0 30px #a46cd6;
}


label {
    font-size: 0.9em;
    color:white;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f8f0fc;
    color: #a46cd6;
    outline: none;
    transition: box-shadow 0.3s ease;
}

input:focus {
    border-color: #a46cd6;
    outline: none;
    box-shadow: 0 0 10px #a46cd6;;
}

button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #f8f0fc;
  color: #a46cd6;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #a46cd6;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 0 15px #a46cd6, 0 0 30px #ff00cc;
}


form a {
  text-align: center;
  font-size: 0.85em;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

form a:hover {
  color: #ff00cc;
}

form label input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #a46cd6;
}

footer {
  padding: 15px;
  text-align: center;
  margin-top: 50px;
}

footer p {
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px #ff00cc, 0 0 10px #ff00cc;
}