body{
    font-family : 'Quicksand', sans-serif;
    background-color: #f8f0fc;
    color: #9b59b6 ;
    /*color: #c12424;*/
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f0fc;
    padding: 10px;
    border-bottom: 2px solid #9b59b6;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: darksalmon; 
    color: #9b59b6;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h3{
    font-size: 1.8em;
    color: #9b59b6;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #9b59b6;
}

form {
    background-color: #9b59b6;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 0.9em;
    color:white;
}

input {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f8f0fc;
    color: #a46cd6;
    outline: none;
    transition: box-shadow 0.3s ease;
}

input:focus {
    border-color: #a46cd6;
    outline: none;
    box-shadow: 0 0 10px #a46cd6;;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #f8f0fc;
    color: #a46cd6;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease   ;
}

form a {
    text-align: center;
    font-size: 0.85em;
    color: #888;
    text-decoration: none;
    transition: color 0.3s ease;
}